.row
  .columns
    %h2= @location.name
    %p
      = link_to "http://maps.google.com/?q=#{@location.address}" do
        = image_tag "http://maps.googleapis.com/maps/api/staticmap?markers=#{@location.latitude},#{@location.longitude}&visual_refresh=true&zoom=11&size=500x200&sensor=false"
    %p
      %strong Address:
      = @location.address
    %p
      %strong Notes:
      = @location.notes
    = link_to "Edit #{@location.name}", edit_admin_location_path(@location), class: 'button'
