.row
  .columns.large-6
    = simple_form_for @talk, url: talk_path(@talk) do |f|
      %fieldset
        %legend= @talk.title
        = f.input :title
        = f.input :description
        %p Please use first person when referring to yourself.
        = f.submit "Update Talk", class: 'button'
