- if defined? talk
  = image_tag talk.user.avatar
  .info
    %h4= talk.user.name
    %p #{talk.user.bio} &bull; #{link_to talk.user.url}
  %h4= talk.title
  %p= raw talk.description
  - if current_user == talk.user
    = link_to "Edit", edit_talk_path(talk), class: 'button'
- else
  %h4 We need a talk!
  = link_to "Suggest a talk", current_user ? new_talk_path : "/auth/twitter?redirect_to=#{new_talk_path}", class: 'button'
