#event
  .main-info
    .row
      .large-4.columns
        %h3= @event.start.strftime('%A, %b %d')
        %h4= @event.start.strftime('%l:%M %p')
        %h5 Sponsor
        - if @event.sponsor
          %p= link_to @event.sponsor.name, sponsor_path(@event.sponsor)
        - else
          %p
            TBD
            %br/
            = link_to "Want to sponsor?", 'mailto:jeff@dickey.xxx'
        - if @event.food.present?
          %h5 Food
          %p= @event.food
        - if @event.organizer
          %h5 Organizer
          %p= link_to @event.organizer.name, user_path(@event.organizer)
        %p.registration
          - if @attending
            %h5 You're registered!
            - if current_user.email.blank?
              = form_for current_user do |f|
                = f.label :email, "Would you mind leaving me your email?"
                = f.text_field :email
                = f.submit "Submit", class: 'button'
            = link_to "Cancel Reservation", event_attendee_path(@event, current_user), method: :delete
          - else
            = link_to "RSVP", current_user ? rsvp_event_attendees_path(@event) : "/auth/twitter?redirect_to=#{rsvp_event_attendees_url(@event)}", class: "large button expand round"
        %p.twitter
          - twitter_text = "a dev event for polyglots"
          - twitter_text = @event.advanced_talk.title if @event.advanced_talk
          %a.twitter-hashtag-button{ href: "https://twitter.com/intent/tweet?button_hashtag=dotplus_#{current_city.subdomain}&text=#{twitter_text}", data: { size: "large", related: "dotplus", url: request.url } } Tweet #dotplus_#{current_city.subdomain}
      .large-4.columns
        - if @event.location
          = link_to "http://maps.google.com/?q=#{@event.location.address}" do
            = image_tag "http://maps.googleapis.com/maps/api/staticmap?markers=#{@event.location.latitude},#{@event.location.longitude}&zoom=10&size=300x200&visual_refresh=true&sensor=false"
          %h4.subheader= @event.location.name
          %p= @event.location.notes
        - else
          %h4 Location TBD
          = link_to "Want to host?", 'mailto:jeff@dickey.xxx', class: 'small button'
      .large-4.columns
        %h4 Schedule
        %ul#schedule.no-bullet
          - @event.schedule.each do |e|
            %li
              - if e[:user]
                = image_tag e[:user].avatar
              - else
                = image_tag 'logo.png'
              .title= e[:what]
              .time= e[:time].strftime('%l:%M')
  #speaker-info
    .row
      .large-6.columns
        = render partial: "talk", object: @event.beginner_talk, as: :talk
      .large-6.columns
        = render partial: "talk", object: @event.advanced_talk, as: :talk
  - if @event.attendees.any?
    .row
      .large-12.columns
        %h3= pluralize(@event.attendees.count, "attendee")
        %ul.large-block-grid-10
          - @event.attendees.each do |user|
            %li
              = link_to user_path(user), class: 'attendee-photo' do
                = image_tag user.avatar
                .handle= "@#{user.twitter}"
