!!! 5
%head
  %meta{ charset: "utf-8" }
  %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

  %title= content_for?(:title) ? "#{yield(:title)} | dotplus" : "dotplus"

  = stylesheet_link_tag "application"
  = javascript_include_tag "application"
  = favicon_link_tag 'logo.png'
  = csrf_meta_tag

%body
  %nav.top-bar.contain-to-grid
    %ul.title-area
      %li.name
        %h1= link_to "dotplus", root_url(subdomain: 'www')
    %section.top-bar-section
      - if current_user
        %ul.left
          %li.divider
          %li= nav_city_link city: "Los Angeles", subdomain: "la"
          %li= nav_city_link city: "San Francisco", subdomain: "sf"
          %li= nav_city_link city: "Seattle", subdomain: "seattle"
        %ul.right
          %li.divider
          %li.has-dropdown
            = link_to user_path(current_user) do
              = image_tag current_user.avatar, height: 20, width: 20, class: 'avatar'
              = current_user.twitter
            %ul.dropdown
              %li= link_to "Logout", logout_path
  - flash.each do |key, msg|
    .row= content_tag :div, msg, class: "alert-box #{key}"

  = yield

</html>
