!!! 5
%head
  %meta{ charset: "utf-8" }
  %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

  %title= content_for?(:title) ? "#{yield(:title)} | dotplus" : "dotplus"

  = stylesheet_link_tag "application"
  = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Audiowide&subset=latin"
  = javascript_include_tag "application"
  = favicon_link_tag 'logo.png'
  = csrf_meta_tag

%body
  %nav.top-bar
    %ul.title-area
      %li.name
        %h1= link_to "dotplus", root_url(subdomain: 'www')
      %li.toggle-topbar.menu-icon
        = link_to '#' do
          %span
    %section.top-bar-section
      %ul.left
        %li.divider
          - City.find_each do |city|
            %li= nav_city_link city: city.name, subdomain: city.subdomain
      %ul.right
        %li.divider
        - if current_user
          %li.has-dropdown
            = link_to user_path(current_user) do
              = image_tag current_user.avatar, height: 20, width: 20, class: 'avatar'
              = current_user.twitter
            %ul.dropdown
              - if current_user.admin?
                %li= link_to "Admin", admin_root_path
              - if current_user.talks.any?
                %li= link_to "Talks", talks_path
              %li= link_to "Logout", logout_path
        - else
          %li
            = link_to "/auth/twitter?redirect_to=#{request.url}" do
              = image_tag 'twitter-login.png'
  - flash.each do |key, msg|
    .row= content_tag :div, msg, class: "alert-box #{key}"

  = content_for?(:content) ? yield(:content) : yield

  #footer
    .row
      .large-6.columns
        %ul.inline-list
          %li= link_to "@dickeyxxx", "/users/dickeyxxx"
          %li= link_to "@jumph4x", "/users/jumph4x"
          %li= link_to "@thebucknerlife", "/users/thebucknerlife"

  = javascript_include_tag "//platform.twitter.com/widgets.js"
